body {
	height: 100%;
	margin: 0;
}

.content {
	width: 100%;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.titlebar {
	width: 100%;
	flex: 0 1 auto;
}

.titlebar ul {
	position: relative;
	overflow: hidden;
	list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
	background-color: #ffffff;
}

.titlebar li {
	vertical-align: top;
    display: inline-block;
}

.titlebar a {
    float: left;
	text-align: center;
    padding: 29px 16px;
    text-decoration: none;
	color: #0c0c0c;
    font-size: 16px;
	font-weight: bold;
	font-family: "Open Sans"
}

.titlebar a:hover {
	color: #ff7a7a
}

.titlebar a.active {
  color: #fc300c
}

.titlebar a img {
	height: 19px;
	width: auto;
	margin: auto;
}

.home {
	width: 100%;
	flex: 1 1 auto;
	background-image: url("assets/home-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

.home-greeting {
	margin-top: 250px;
	color: #ffffff;
	text-align: center;
	font-family: "Old Standard TT";
}

.home-greeting-p1 {
	margin: 0;
	font-size: 5vw;
}

.home-greeting-p2 {
	margin: 0;
	font-size: 4vw;
}

@media only screen and (max-width: 800px) {
    .home-greeting-p1 {
      font-size:8vw !important;
	}
    .home-greeting-p2 {
      font-size:7vw !important;
	}
}

.book, .about, .contact, .resources {
	width: 100%;
	flex: 1 1 auto;
	text-align: center;
	font-family: "Old Standard TT";
}

.header {
	margin-top: 20px;
	color: #000000;
	font-size: 50px;
}

.book {
	background-color: #ffffff;
}

.about {
	background-color: #fffdba;
}

.contact {
	background-color: #e9def9;
}

.resources {
	background-color: #e2efff;
}

.rlabout, .rlbook, .rlcontact, .rlresources {
	margin: 0 auto;
}

.rlabout, .rlcontact, .rlresources {
	width: 50%;
	float: center;
	color: #000000;
	font-size: 30px;
}

.rlabout-text, .rlabout-thanks, .rlcontact-text {
	margin: 0;
	margin-top: 20px;
}

.rlcontact a {
	text-decoration: none;
	color: #fcabb7;
}