.titlebar ul {
	position: relative;
	overflow: hidden;
	list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
	background-color: #ffffff;
}

.titlebar li {
	vertical-align: top;
    display: inline-block;
}

.titlebar a {
    float: left;
	text-align: center;
    padding: 29px 16px;
    text-decoration: none;
	color: #0c0c0c;
    font-size: 16px;
	font-weight: bold;
	font-family: "Open Sans"
}

.titlebar a:hover {
	color: #ff7a7a
}

.titlebar a.active {
  color: #fc300c
}

.titlebar a img {
	height: 19px;
	width: auto;
	margin: auto;
}

.content ul {
	list-style-type: none;
}

.content li {
	display: block;
}

.greeting {
    position: relative;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.greeting-words {
    position: absolute;
	margin: auto;
    top: 0;
    bottom: 0;
    color: #000000;
    height: 100%;
    width: 100%;
	text-align: center;
	font-family: "Old Standard TT";
	font-size: 5vw;
	line-height: 1.2;
    transform: translate(0%, 10%);
}

 @media only screen and (max-width: 600px) {
    .greeting-words {
      font-size:7vw !important;
	}
}

.social {
	text-align: center;
	font-family: "Old Standard TT";
	font-size: 50px;
	line-height: 1.4;
}

.about {
	text-align: center;
	font-family: "Old Standard TT";
	font-size: 50px;
	line-height: 1.4;
}

.resources {
	text-align: center;
	font-family: "Old Standard TT";
	font-size: 50px;
	line-height: 1.4;
}

.book {
	text-align: center;
	font-family: "Old Standard TT";
	font-size: 50px;
	line-height: 1.4;
}

.social a {
	text-decoration: none;
	color: #fcabb7;
}
